@font-face {
    font-family: Alata;
    src: url(Fonts/Alata/Alata-Regular.ttf);
}
@font-face {
    font-family: JoseThin;
    src: url(Fonts/Josefin_Sans/static/JosefinSans-Thin.ttf);
}

@font-face {
    font-family: Joselite;
    src: url(Fonts/Josefin_Sans/static/JosefinSans-ExtraLight.ttf);
}

@media screen and (max-width: 375px) {
    body{
        display: flex;
        flex-flow: column;
        margin: 0px;
    }

    .header{
        background-image: url(images/mobile/image-hero.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 375px;
        height: 650px;

        display: flex;
        justify-content: space-around;
    }

    #logo-head{
        margin-top: 40px;
    }

    #hamburger{
        margin-top: 48px;
    }

    .buttons-header{
        display: none;
    }


    #immersive-logo{
        position: absolute;
        width: 327px;
        height: 196px;
        left: 24px;
        top: 227px;
        /* Rectangle */
        position: absolute;
        width: 327px;
        height: 196px;
        left: 24px;
        top: 227px;
        border: 2px solid #FFFFFF;
        /* Immersive experience */
        padding: 5%;
        padding-right: 0%;
        position: absolute;
        width: 279px;
        height: 146px;
        left: 48px;
        top: 253px;
        font-family: JoseThin;
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 38px;
        /* or 95% */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .mini-promo{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    #promo-guy-img{
        padding: 5%;
        max-height: 75%;
        max-width: 327px;
    }

    .promo-info{
        padding: 5%;
    }

    #promo-head{
        /* The leader in intera */

        font-family: Joselite;
        font-style: bold;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        /* or 100% */
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }

    #promo-body{
        /* Founded in 2011, Loo */

        font-family: Alata;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */
        text-align: center;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;

    }

    .gallery{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    #gallery-header{
        font-family: Joselite;
        font-style: bold;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        /* or 100% */
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }

    .gallery-buttons{
        display: flex;
        flex-flow: column;
        padding: 5%;
        align-items: center;
    }

    .gallery-buttons p{
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: left;
        margin-top: 52px;
        margin-left: 20px;
        width: 125px;
    }

    #deep-earth{
        background-image: url(images/mobile/image-deep-earth.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 327px;
        height: 120px;
        font-family: Joselite;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        
        margin-bottom: 3%;
    }

    #night-arcade{
        background-image: url(images/mobile/image-night-arcade.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 327px;
        height: 120px;
        font-family: Joselite;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        
        margin-bottom: 3%;
    }

    #soccer-team{
        background-image: url(images/mobile/image-soccer-team.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 327px;
        height: 120px;
        font-family: Joselite;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        
        margin-bottom: 3%;
    }

    #the-grid{
        background-image: url(images/mobile/image-grid.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 327px;
        height: 120px;
        font-family: Joselite;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        
        margin-bottom: 3%;
    }

    #from-up{
        background-image: url(images/mobile/image-from-above.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 327px;
        height: 120px;
        font-family: Joselite;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        
        margin-bottom: 3%;
    }

    #pocket-borealis{
        background-image: url(images/mobile/image-pocket-borealis.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 327px;
        height: 120px;
        font-family: Joselite;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        
        margin-bottom: 3%;
    }

    #the-curiosity{
        background-image: url(images/mobile/image-curiosity.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 327px;
        height: 120px;
        font-family: Joselite;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        
        margin-bottom: 3%;
    }

    #fisheye{
        background-image: url(images/mobile/image-fisheye.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 327px;
        height: 120px;
        font-family: Joselite;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        
        margin-bottom: 3%;
    }

    #gallery-expand{
        order: 3;
        
        margin-top: 34px;
        margin-bottom: 96px;

        background-color: white;
        width: 157px;
        height: 40px;

        border: 0.5px solid black;
        font-family: Alata;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 14;
    }

    .footer{
        background-color: black;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        padding-top: 56px;;
    }

    #copyright{
        color: white;
        opacity: 50%;
        order: 4;
    }

    .footer-sm{
        display: flex;
        flex-flow: row;
        order: 3;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    #fb{
        background-color: transparent;
        border: none;
    }

    #twit{
        background-color: transparent;
        border: none;
    }

    #pin{
        background-color: transparent;
        border: none;
    }

    #insta{
        background-color: transparent;
        border: none;
    }

    .buttons-footer{
        display: flex;
        flex-flow: column;
        padding: 32px;
    }

    #aboutf{
        background-color: transparent;
        border: none;
        color: white;
        padding: 16px;
        font-size: 15px;
        font-family: Alata;
    }

    #careersf{
        background-color: transparent;
        border: none;
        color: white;
        padding: 16px;
        font-size: 15px;
        font-family: Alata;
    }

    #eventsf{
        background-color: transparent;
        border: none;
        color: white;
        padding: 16px;
        font-size: 15px;
        font-family: Alata;
    }

    #productsf{
        background-color: transparent;
        border: none;
        color: white;
        padding: 16px;
        font-size: 15px;
        font-family: Alata;
    }

    #supportf{
        background-color: transparent;
        border: none;
        color: white;
        padding: 16px;
        font-size: 15px;
        font-family: Alata;
    }


}

@media screen and (min-width: 376px) {
    
    body{
        display: flex;
        flex-flow: column;
        margin: 0px;
        justify-content: center;
        align-items: center;
    }

    .header{
        background-image: url(images/desktop/image-hero.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 1440px;
        height: 650px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #logo-head{
        margin-top: 40px;
        grid-column: 1;
        grid-row: 1;
        padding-left: 100px;
    }

    #hamburger{
        display: none;
    }

    .buttons-header{
        grid-column: 2;
        grid-row: 1;
        margin-top: 31px;
        justify-self: right;
        padding-right: 100px;
    }

    #abouth{
        background-color: transparent;
        border: none;
        padding-right: 16px;
        color: white;
        font-size: 25px;
        font-family: Alata;
    }

    #careersh{
        background-color: transparent;
        border: none;
        padding-right: 16px;
        color: white;
        font-size: 25px;
        font-family: Alata;
    }

    #eventsh{
        background-color: transparent;
        border: none;
        padding-right: 16px;
        color: white;
        font-size: 25px;
        font-family: Alata;
    }

    #productsh{
        background-color: transparent;
        border: none;
        padding-right: 16px;
        color: white;
        font-size: 25px;
        font-family: Alata;
    }

    #supporth{
        background-color: transparent;
        border: none;
        padding-right: 16px;
        color: white;
        font-size: 25px;
        font-family: Alata;
    }

    #immersive-logo{
        grid-column: 1;
        grid-row: 2;
        margin-left: 100px;
        width: 650px;
        height: 238px;
        padding-top: 5%;
        /* Immersive experience */
        font-family: Josethin;
        font-style: normal;
        font-weight: 300;
        font-size: 72px;
        line-height: 70px;
        /* or 97% */
        text-transform: uppercase;
        color: #FFFFFF;
        /* Rectangle */
        border: 2px solid #FFFFFF;

    }

    .mini-promo{
        display: grid;
        grid-template-columns: 555px 1fr;
        grid-template-rows: 250px;
        align-content: center;
        justify-content: center;
        width: 1111px;
        height: 541px;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    #promo-guy{ 
        grid-column: 1;
    }

    .promo-info{
        grid-column: 2;
        background-color: white;
        width: 541px;
        height: 317px;
        margin-top: 150px;
    }

    #promo-head{
        /* The leader in intera */
        width: 445px;
        height: 96px;
        margin-left: 15%;
        font-family: Joselite;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 48px;
        /* or 100% */
        text-transform: uppercase;
        color: #000000;


    }

    #promo-body{
        /* Founded in 2011, Loo */
        width: 445px;
        height: 100px;
        margin-left: 15%;
        font-family: Alata;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;

    }
    
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 80px 1fr;
        width: 1114px;
        height: 1114px;
    }

    #gallery-header{
        /* OUR CREATIONS */
        justify-self: flex-start;
        grid-column: 1;
        grid-template-rows: 1;
        font-family: Joselite;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 48px;
        /* identical to box height, or 100% */
        text-transform: uppercase;
        color: #000000;

    }

    #gallery-expand{
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
        margin-top: 40px;
        font-family: Alata;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height, or 100% */
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #000000;
        background-color: white;
        border: 1px solid #000000;
        width: 157px;
        height: 40px;

    }

    #gallery-expand:hover{
        background-color: black;
        color: white;
    }

    .gallery-buttons{
        grid-row: 3;
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 256px 30px 256px 30px 256px 30px 256px 30px ;
        grid-template-rows: 450px 30px 450px;
    }
    

    #deep-earth{
        grid-row: 1;
        grid-column: 1;
        width: 256px;
        height: 450px;
        background-image: url(images/desktop/image-deep-earth.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
        background-color: white;
    }

    #deep-earth:hover{
        opacity: 70%;
    }

    #deep-earth:hover p{
        color: white;
    }

    #deep-earth p{
        font-family: Josethin;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        width: 106px;
        text-align: left;
        margin-top: 354px;
        margin-left: 40px;
    }

    #night-arcade{
        grid-row: 1;
        grid-column: 3;
        width: 256px;
        height: 450px;
        background-image: url(images/desktop/image-night-arcade.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-right: 30px;
        border: none;
        background-color: white;
    }

    #night-arcade:hover{
        opacity: 70%;
    }

    #night-arcade p {
        font-family: Josethin;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        width: 106px;
        text-align: left;
        margin-top: 354px;
        margin-left: 40px;
    }

    #soccer-team{
        grid-row: 1;
        grid-column: 5;
        width: 256px;
        height: 450px;
        background-image: url(images/desktop/image-soccer-team.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
    }

    #soccer-team:hover{
        opacity: 70%;
    }

    #soccer-team p {
        font-family: Josethin;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        width: 160px;
        text-align: left;
        margin-top: 354px;
        margin-left: 40px;
    }

    #the-grid{
        grid-row: 1;
        grid-column: 7;
        width: 256px;
        height: 450px;
        background-image: url(images/desktop/image-grid.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
    }

    #the-grid:hover{
        opacity: 70%;
    }

    #the-grid p {
        font-family: Josethin;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        width: 160px;
        text-align: left;
        margin-top: 354px;
        margin-left: 40px;
    }

    #from-up{
        grid-row: 3;
        grid-column: 1;
        width: 256px;
        height: 450px;
        background-image: url(images/desktop/image-from-above.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
    }

    #from-up:hover{
        opacity: 70%;
    }

    #from-up p {
        font-family: Josethin;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        width: 220px;
        text-align: left;
        margin-top: 354px;
        margin-left: 40px;
    }

    #pocket-borealis{
        grid-row: 3;
        grid-column: 3;
        width: 256px;
        height: 450px;
        background-image: url(images/desktop/image-pocket-borealis.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
    }

    #pocket-borealis:hover{
        opacity: 70%;
    }

    #pocket-borealis p {
        font-family: Josethin;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        width: 220px;
        text-align: left;
        margin-top: 354px;
        margin-left: 40px;
    }

    #the-curiosity{
        grid-row: 3;
        grid-column: 5;
        width: 256px;
        height: 450px;
        background-image: url(images/desktop/image-curiosity.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
    }

    #the-curiosity:hover{
        opacity: 70%;
    }

    #the-curiosity p {
        font-family: Josethin;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        width: 220px;
        text-align: left;
        margin-top: 354px;
        margin-left: 40px;
    }

    #fisheye{
        grid-row: 3;
        grid-column: 7;
        width: 256px;
        height: 450px;
        background-image: url(images/desktop/image-fisheye.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
    }

    #fisheye:hover{
        opacity: 70%;
    }

    #fisheye p {
        font-family: Josethin;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        /* or 100% */
        text-transform: uppercase;
        color: #FFFFFF;
        width: 220px;
        text-align: left;
        margin-top: 354px;
        margin-left: 40px;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 24px 1fr;
        background-color: black;
        width: 1440px;
    }

    #logo-foot{
        grid-column: 1;
        grid-row: 1;
        margin-left: 165px;
        margin-top: 24px;
    }

    .footer-sm{
        grid-column: 2;
        grid-row: 1;
        justify-self: right;
        margin-top: 24px;
        margin-right: 165px;
    }

    #fb{
        background-color: transparent;
        border: none;
    }

    #twit{
        background-color: transparent;
        border: none;
    }

    #pin{
        background-color: transparent;
        border: none;
    }

    #insta{
        background-color: transparent;
        border: none;
    }

    .buttons-footer{
        grid-column: 1;
        grid-row: 3;
        margin-left: 165px;
        margin-top: 24px;
    }

    

    #aboutf{
        background-color: transparent;
        border: none;
        padding-right: 16px;
        color: white;
        font-size: 15px;
        font-family: Alata;
    }

    #careersf{
        background-color: transparent;
        border: none;
        padding-right: 16px;
        color: white;
        font-size: 15px;
        font-family: Alata;
    }

    #eventsf{
        background-color: transparent;
        border: none;
        padding-right: 16px;
        color: white;
        font-size: 15px;
        font-family: Alata;
    }

    #productsf{
        background-color: transparent;
        border: none;
        padding-right: 16px;
        color: white;
        font-size: 15px;
        font-family: Alata;
    }

    #supportf{
        background-color: transparent;
        border: none;
        padding-right: 16px;
        color: white;
        font-size: 15;
        font-family: Alata;
    }

    #copyright{
        grid-column: 2;
        grid-row: 3;
        justify-self: right;
        margin-top: 24px;
        margin-right: 165px;
        color: white;
        opacity: 50%;
    }

}